<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>See Transactions</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#"> </a>
</nav>

<main role="main" class="container">

    <div class="starter-template">
        <h1>Transactions</h1>
    </div>
    

    <b>Person:</b>

	<form  class="form-horizontal" action="#" th:action="@{/transactions}"
		th:object="${accountsForm}" method="POST">
		 <div class="form-group">
		<select id="accountNumber" name="accountNumber" class="form-control" >
		
			<option value="0" disabled>select account</option>
			<option th:each="account, itemStat : ${accountsList}"
				th:value="${account.accountNumber}"
				th:text="${account.accountHolderName} + ' [' + ${account.accountNumber} + ']'"
				th:name="|account.id|">
		</select>

		</div>
		<button class="btn btn-primary" type="submit" value="transactions">View Transactions</button>
		<a href="/"> <input class="btn btn-secondary"  type="button" value="View Accounts" /></a>
			<a href="/transfer"> <input class="btn btn-success"  type="button" value="Transfer" /></a>
 
	</form>
<div >

</div>

<br>
    <div> 
    <p class="h4" >	Transaction history</p>
    </div>


 <div><b>Balance: </b>  
	<span th:text="${balance}"></span>
	</div>
    <table class="table">
    <tr>
  		<th>#</th>
    	<th>Amount</th>
        <th>To Account Number</th>
    </tr>


    <tr th:each="transaction, itemStat : ${transactions}">
    <td><span th:text="${__${itemStat.index}__ + 1}"> Row Number </span></td>
               <td><span th:text="${transaction.displayAmount}"> Title </span></td>
            <td><span th:text="${transaction.toAccountNumber}"> email </span></td>
	        <td><input type="hidden" th:value="${transaction.id}" name="id"/></td>
    </tr> 
</table>

 <style>
    .error {
        color: red;
    }
    
    .success {
        color: green;
    }
    
    .accounts { 
    display: flex;
    align-items: left;
    justify-content: space-between;
}
</style>

</main>

 <script type="text/javascript" th:inline="javascript">
		
 
 function rowClicked(value) {
     location.href = "/transactions?id=" + value;
 }
	    </script>

<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>